html {
    font-size: 16px;
}

body {
    background-color: #80220d;
    font-family: "Courier", courier, monospace;
    font-size: 1rem;
    margin: 0rem 0rem;
}

div.title {
    margin: 0rem 0rem;
    padding: 1rem 1rem;
    align: center;
    text-align: left;
}

div.text {
    background-color: #ececed;
    margin: 0rem 0rem 4rem 0rem;
    padding: 0.1rem 0rem;
    border-radius: 1rem;
}

div.section {
    padding: 0rem 1rem;
}

hr {
    border-top: 1px solid #888;
}

h1 {
    font-family: "Arial Black", "Gill Sans", arial, serif;
    font-size: 1.7rem;
    font-style: normal;
    text-align: left;
    margin: 0rem 0rem;
    margin: 0.5rem 0rem 0.5rem 0rem;
    color: #ececed;
}

h2 {
    font-family: "Arial Black", "Gill Sans", arial, serif;
    font-size: 1.5rem;
    font-style: normal;
    text-align: left;
    color: #80220d;
}

h4 {
    font-size: 1rem;
    font-style: normal;
    text-align: left;
    margin: 0rem 0rem;
    color: #000;
}

ul {
    margin-left: 0rem;
    padding-left: 1rem;
}

li {
    list-style: square;
}

a {
    /* color: #37b082; */
    color: #2c826a;
}

a.email {
    color: #ff7728;
    font-style: normal;
    text-decoration: none;
}

/* tablets and up */
@media only screen and (min-device-width: 700px){
    div.title {
        margin: 0rem 5rem;
    }
    div.text {
        margin: 0rem 5rem 4rem 5rem;
        padding: 0.1rem 0rem;
    }
}
